*{ /*Zerar as configurações do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none; /*Tirar os pontinhos da lista*/
}

body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%; /*Altura da linha*/
}

body{
    background-image: url(./assets/bg.jpg); /*Adicionar imagem*/
    background-position: top center; /*Posição da imagem*/ 
    background-size: 100% auto; /*Tamanho da imagem na tela*/
    background-repeat: no-repeat; /*Imagem deixa de se repetir na tela*/
    background-color: #121214;
}

header{
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto; /*Alinhamento da imagem do cabeçalho*/
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .03s;
}

header div:hover{
    transform: scale(1.1); /*Efeito de transição no cabeçalho*/
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px; /*Especificar a largura máxima*/
    width: 90%; /*Relativo a largura da tela*/
    margin: 32px auto; /*Margens automaticas*/

    display: grid;
    gap: 24px;
}

section{ /*Borda colorida do bloco*/
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul{
    display: flex; /*As caixas do display ficam uma ao lado da outra*/
    flex-wrap: wrap; /*Ajustar as caixas na página do navegador caso possua mais conteudo numa única caixa*/
    gap: 16px; /*Espaçamento entre as caixas (Só funciona com a função display = flex)*/
    margin-top: 24px;
}

section ul li{
    transition: transform .03s;
}

section ul li:hover{
    transform: scale(1.1);
}

.games-list img{
    width: 90px;
    border-radius: 8px; /*Tamanho das bordas nas imagens*/
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

/*animation*/

header div{
    animation: fromTop .7s .4s backwards;
    
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){ /*Main pega o section do filho nº 1 para efetuar o delay do bloco*/
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

@keyframes fromTop{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom{
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}